.wrapper-container {
  margin: 20px 10%;
  @media only screen and (max-width: 1024px) {
    margin: 20px;
  }
  @media only screen and (max-width: 768px) {
    margin: 10px;
  }
}
.detail-user-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
  gap: 10px; /* Optional: space between grid items */
  padding: 0 10px; /* Optional: padding around the grid container */
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.detail-user-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0px;
}

.movies {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 30px; /* Optional: space between grid items */
  padding: 0 10px; /* Optional: padding around the grid container */
}

.movie-title {
  font-size: 18px;
  padding-top: 20px;
  font-weight: 600;
  @media only screen and (max-width: 768px) {
    padding-top: 10px;
  }
}

.movie-title:hover {
  text-decoration: underline !important;
  color: blue;
}

.right-container {
  padding: 20px;
  height: fit-content;
  background: #f1f1f1;
}

.user-page {
  cursor: pointer;
}

.user-page:hover {
  text-decoration: underline !important;
  color: blue;
}
