.category-container {
  margin: 10px;
  padding: 20px;
  background: #f1f1f1;
}
.sjanger-container {
  margin: 10px;
  padding: 20px;
}

.category-movie-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Two equal columns */
  gap: 40px; /* Optional: space between grid items */
  padding: 10px 0px; /* Optional: padding around the grid container */
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr 1fr; /* Two equal columns */
  }
}

.category-title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.sjanger-title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.category-description {
  margin: 20px 0px;
  font-size: 20px;
}
