.movies-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 10px; /* Optional: space between grid items */
  padding: 10px 10px; /* Optional: padding around the grid container */
  @media only screen and (max-width: 1024px) {
    grid-template-columns: 2fr 1fr;
  }
}

.movies-container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
}

.movies {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 30px; /* Optional: space between grid items */
  padding: 0 10px; /* Optional: padding around the grid container */
  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr !important;
  }
}

.right-container {
  padding: 20px;
  height: fit-content;
  background: #f1f1f1;
}

.home-page-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  font-size: 16px;
}

.home-users {
  padding-left: 30px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  @media only screen and (max-width: 768px) {
    padding-left: 10px !important;
  }
}

.user-page {
  cursor: pointer;
}

.user-page:hover {
  text-decoration: underline !important;
  color: blue;
}
