.root-container-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: 10px !important;
}

.list-user {
  display: flex;
  gap: 5px;
}

.user {
  border: none;
  background-color: black;
  color: white;
  padding: 5px 20px;
  cursor: pointer;
}
